<%= render 'layouts/header'%>

<div class="parallax-container parallax-container">
  <div class="parallax">
    <%= image_tag "vons.jpg"%>
  </div>
  <div class="valign-wrapper">
    <div class="container">
      <div class="row center" >
        <h3 class="white-text text-lighten-3 valign condensed thin light marginSetter" >S.Lew & Associates, Inc.</h3>
        <h1 class="white-text text-lighten-3 valign thin marginSetter" id="top_pic_title">Portfolio</h1>

      </div>
    </div>
  </div>
</div>

<div class=" section white portfolio">

  <div class="row">
    <div class="col s6 ">
        <div class = "container picleft">
          <%= link_to image_tag("/assets/main_bg.jpg"), "/details#park_dashpoint", :class=>"responsive-img"%>

          <!--<img class="responsive-img" src="/assets/main_bg.jpg">-->
          <p class = "top_p">Park at Dashpoint</p>
          <p class="bottom_p">Federal Way, WA</p>

        </div>
    </div>

    <div class="col s6 ">
      <div class = "container picright">
        <%= link_to image_tag("/assets/second.jpg"), "/details#meridian_west", :class=>"responsive-img"%>

        <!--<img class="responsive-img" src="/assets/second.jpg">-->
        <p class = "top_p">Meridian West</p>
        <p class="bottom_p">Puyallup, WA</p>


    </div>
  </div>
  </div>

  <div class="row">
    <div class="col s6 ">
      <div class = "container picleft">
        <%= link_to image_tag("/assets/third.jpg"), "/details#waterbrook", :class=>"responsive-img"%>

        <!--<img class="responsive-img" src="/assets/third.jpg">-->
        <p class = "top_p">Waterbrook Lofts & Apartments</p>
        <p class="bottom_p">Kent, WA</p>

      </div>
    </div>

    <div class="col s6 ">
      <div class = "container picright">
        <%= link_to image_tag("/assets/fourth.jpg"), "/details#ridgeview", :class=>"responsive-img"%>

        <!--<img class="responsive-img" src="/assets/fourth.jpg">-->
        <p class = "top_p">Ridgeview Apartments</p>
        <p class="bottom_p">Escondido, CA</p>


      </div>
    </div>
  </div>


  <div class="row">
    <div class="col s12 ">
      <div class="container">
        <%= link_to image_tag("/assets/vons.jpg"), "/details#temple_city", :class=>"responsive-img"%>

        <!--<img class="responsive-img" src="/assets/vons.jpg">-->
        <p class = "top_p">Temple City Marketplace</p>
        <p class="bottom_p">Temple City, CA</p>

      </div>

    </div>
    </div>
</div>
