<%= render 'layouts/header'%>

<div class="parallax-container parallax-container">
  <div class="parallax">
    <%= image_tag "vons.jpg"%>
  </div>
  <div class="valign-wrapper">
    <div class="container">
      <div class="row center marginSetter" >
        <h3 class="white-text text-lighten-3 valign condensed thin light marginSetter" >S.Lew & Associates, Inc.</h3>
        <h1 class="white-text text-lighten-3 valign thin marginSetter" id="top_pic_title">Key Leaders</h1>

      </div>
    </div>
  </div>
</div>
<div class=" section white">
  <div class="row">
  <div class="col s6 ">
    <div class="container twopics" style="margin-right: 0">
      <div class="container pics">
    <h6 class = "grey-text">Founder & CEO</h6>
    <h3> Susan Lew</h3>
      <img class="responsive-img" src="/assets/susan.jpg">

        <%= link_to "KNOW MORE", susanLew_path, :class=>"waves-effect waves-light btn knowMore grey darken-3"%>

      </div>
      <div class="container">
        <p>T : 858.565.8333 ext. 201</p>
        <p>E : susanlew@slewassociates.com</p>

        </div>

    </div>
  </div>

    <div class="col s6">
      <div class="container twopics" style="margin-left: 10%">



      <h6 class = "grey-text">President</h6>
        <div class="container pics">
        <h3> Stephen Lew</h3>
        <img class="responsive-img" src="/assets/steve.jpg">
          <%= link_to "KNOW MORE", stephenLew_path, :class=>"waves-effect waves-light btn knowMore grey darken-3"%>
        </div>
        <div class="container">
          <p>T : 858.565.8333 ext. 209</p>
          <p>E : steve@slewassociates.com</p>

        </div>




      </div>

  </div>



</div>
  </div>
<%= render 'layouts/footer'%>