<nav class="grey lighten-5">
	<div class="nav-wrapper">
	  <a href="#" class="brand-logo es-logo-anchor"><%= image_tag "s_logo.png"%></a>
	  <ul id="nav-mobile" class="right hide-on-med-and-down">
	    <li>
	    	<%= link_to "HOME", root_path, :class=>"grey-text text-lighten-1"%>
	    </li>
	    <li>
	    	<%= link_to "INTRODUCTION", profile_path, :class=>"grey-text text-lighten-1"%>
	    </li>
	    <li>
	    	<%= link_to "STATEGY", strategy_path, :class=>"grey-text text-lighten-1"%>
	    </li>
	    <li>
	    	<%= link_to "PORTFOLIO", portfolio_path, :class=>"grey-text text-lighten-1"%>
	    </li>
	  </ul>
	</div>
</nav>